*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 186px;
  border: 3px solid red;
  border-radius: 10px 10px 0 0;
  margin-top: 20px;
  margin-right: 20px;
}

.card img {
  object-fit: cover;
  width: 180px;
  border-radius: 7px 7px 0 0;
}

.card p {
  margin-top: -6px;
  background-color: red;
  color: white;
  font-size: 1.3rem;
}